Options -Indexes
DirectoryIndex index.php
DirectoryIndexRedirect off

RewriteEngine On
RewriteRule . index.php [QSA,L]

#<Limit GET POST PUT DELETE>
#  Allow from all
#</Limit>

#The method names listed can be one or more of: GET, POST, PUT, DELETE, CONNECT, OPTIONS, PATCH, PROPFIND, PROPPATCH, MKCOL, COPY, MOVE, LOCK, and UNLOCK. The method name is case-sensitive. If GET is used, it will also restrict HEAD requests. The TRACE method cannot be limited (see TraceEnable).
<Limit PUT DELETE>
  Allow from all
</Limit>